*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Custom properties */

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-darker: rgba(0, 0, 0, 0.9);
  --clr-accent: #7aadff;

  --fs-h1: 2.8rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 4em 1.5em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
  margin: 0;
}

.section__subtitle--about,
.section__subtitle--intro {
  font-family: var(--ff-secondary);
  padding: 0.25em 1.2em;
  background-color: var(--clr-accent);
  margin-bottom: 1em;
}

nav {
  display: none;
}

/* Intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    column-gap: 1em;
    margin: 3em auto 3em;
    width: min-content;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 230px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Background */

.background {
  background-color: var(--clr-darker);
  color: var(--clr-light);
  background-image: url(../img/background.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
}

.section__title--background {
  color: var(--clr-accent);
  position: relative;
}

.section__title--background::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.background-story {
  max-width: 500px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .background-story + .background-story {
    margin-top: 2em;
  }
}

@media (min-width: 800px) {
  .background-stories {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
  }

  .background-story + .background-story {
    margin-left: 2em;
  }
}

/* About */

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.about--img {
  box-shadow: var(--bs);
  margin-right: 4em;
}

@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text text";
    column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    margin-top: auto;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: start;
    position: relative;
    width: calc(100% + 1em);
  }

  .about--img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .about__body {
    display: block;
    grid-area: text;
  }
}

/* Work */

.work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-image: url(../img/work.png);
  background-blend-mode: multiply;
}

.experience {
  max-width: 1000px;
  margin: 0 auto;
}

.section__title--work {
  color: var(--clr-accent);
}

.section__title--work::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1.5em;
  background: var(--clr-light);
  opacity: 0.5;
}

.experience-item {
  line-height: 1rem;
}

.experience-img {
  border-radius: 50%;
  display: inline;
  width: 150px;
  margin-bottom: 0.5em;
}

.experience-item + .experience-item {
  margin-top: 3em;
}

@media (min-width: 800px) {
  .experience-item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
  }

  .experience-item-desc {
    padding-left: auto;
    padding-right: auto;
  }

  .experience-item + .experience-item {
    margin-top: 5em;
  }

  .experience-item-even {
    flex-direction: row-reverse;
    margin-left: auto;
  }
}
