*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Custom properties */

:root {
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: rgb(240, 240, 240);
  --clr-dark: #303030;
  --clr-darker: rgba(0, 0, 0, 0.9);
  --clr-accent: #7aadff;

  --fs-h1: 2.8rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 4em 1em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
  margin: 0;
}

.section__subtitle--about,
.section__subtitle--about2,
.section__subtitle--intro {
  font-family: var(--ff-secondary);
  padding: 0.25em 1.2em;
  background-color: var(--clr-accent);
  margin-bottom: 1em;
}

nav {
  display: none;
}

/* Intro section */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  text-transform: uppercase;
}

.pepe-pawel {
  display: inline-block;
  width: 3em;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    column-gap: 1em;
    margin: 3em auto 3em;
    padding: 5em 0;
    width: min-content;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 230px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Background */

.background {
  background-color: var(--clr-darker);
  color: var(--clr-light);
  background-image: url(../img/background.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  text-align: center;
}

.background-transition {
  height: 1.5em;
  background-image: linear-gradient(var(--clr-light), var(--clr-accent));
  margin: 0;
}

.section__title--background {
  color: var(--clr-accent);
  position: relative;
}

.section__title--background::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.5;
}

.background-story {
  max-width: 750px;
  margin: 0 auto;
}

.background-story + .background-story {
  margin-top: 2em;
}

@media (min-width: 900px) {
  .background-stories {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1100px;
  }

  .background-story + .background-story {
    margin-left: 3em;
    margin-top: 0;
  }

  .background-story {
    flex: 1 1 0;
  }
}

/* About */

.about {
  max-width: 1000px;
  margin: 0 auto;
}

.break {
  margin: 1em 4em;
  height: 1px;
  grid-area: break;
  opacity: 25%;
  background-color: var(--clr-darker);
}

.about--img,
.about--img2 {
  box-shadow: var(--bs);
}

.section__subtitle--about2 {
  margin-top: 1.5em;
}

@media (min-width: 600px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text text"
      "break break"
      "hard hard";
    column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    margin-top: auto;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    align-self: start;
    position: relative;
    width: calc(100% + 1em);
  }

  .about--img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .about__body {
    display: block;
    grid-area: text;
  }

  /* Hard skills */

  .about-hard-skill {
    grid-area: hard;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas:
      "img subtitle"
      "img text"
      "img list"
      "rest rest";
    column-gap: 3em;
    margin-top: 0.5em;
  }

  .about--img2 {
    grid-area: img;
    position: relative;
    margin-left: 1.5em;
    z-index: 2;
  }

  .section__subtitle--about2 {
    grid-column: 1 / -1;
    grid-row: 1;
    align-self: start;
    position: relative;
    text-align: right;
  }

  .hard-text-1 {
    display: block;
    grid-area: text;
    margin: 0;
  }

  .hard-text-2 {
    grid-area: rest;
  }
}

/* Work */

.work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
  background-image: url(../img/work.png);
  background-blend-mode: multiply;
}

.experience {
  max-width: 800px;
  margin: 0 auto;
}

.section__title--work {
  color: var(--clr-accent);
}

.section__title--work::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1.5em;
  background: var(--clr-light);
  opacity: 0.5;
}

.experience-item {
  line-height: 1rem;
}

.experience-img {
  border-radius: 50%;
  display: inline;
  width: 150px;
  margin-bottom: 0.5em;
}

.experience-item + .experience-item {
  margin-top: 3em;
}

@media (min-width: 800px) {
  .experience-item {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-areas: "img1 text img2";
    align-items: center;
  }

  .experience-item-desc {
    grid-area: text;
  }

  .experience-item-odd .experience-img {
    grid-area: img1;
  }

  .experience-item-even .experience-img {
    grid-area: img2;
  }
}

.social-logo {
  max-width: 30px;
}

/* Footer */

.footer {
  background-color: #fff;
  color: var(--clr-dark);
  text-align: center;
  padding: 1em 0;
}

:focus {
  position: relative;
  z-index: 2;
  outline: 3px solid var(--clr-accent);
  outline-offset: 1em;
}

.footer a {
  text-decoration: none;
  color: var(--clr-dark);
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer a:hover,
.social-list__item:hover {
  position: relative;
  z-index: 2;
  outline: 3px solid var(--clr-accent);
  outline-offset: 0.1em;
}

.social-list {
  list-style: none;
  display: flex;
  margin: 1em auto;
  padding: 0;
  justify-content: center;
  column-gap: 2em;
}

.footer-break {
  height: 1.5em;
  background-image: linear-gradient(var(--clr-accent), #fff);
  margin: 0;
}
